.product-card{
    border: 1px solid black;
    width: 25%;
    padding: 1rem;
}
.product-card-image{
    width: 40%;
    height: 40%;
}
.product-card-content{
    display: flex;
}
.product-card-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.product-card-category{
    font-size:1rem;
}
.product-card-desc{
    font-size: 1.5rem;
}
.product-card-price{
    font-weight: bo;
}